[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==10.1.0"
python-quran-odoa = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
